#ant specific
dist/
build/

#netbeans specific
core
nbproject/private/*
nbbuild/
nbactions.xml
nb-configuration.xml


#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
src/conf/persistence.xml
Tomcat 8.5/logs/*

nbproject/private/private.xml

web/WEB-INF/glassfish-resources.xml
nbproject/genfiles.properties
nbproject/ant-deploy.xml

