<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/uniajc?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123</property>
    <mapping resource="model/Docente.hbm.xml"/>
    <mapping resource="model/Horario.hbm.xml"/>
    <mapping resource="model/Facultad.hbm.xml"/>
    <mapping resource="model/Programa.hbm.xml"/>
    <mapping resource="model/Sede.hbm.xml"/>
    <mapping resource="model/Semestre.hbm.xml"/>
    <mapping resource="model/Grupos.hbm.xml"/>
    <mapping resource="model/Asignaturas.hbm.xml"/>
    <mapping resource="model/Pensum.hbm.xml"/>
    <mapping resource="model/Usuario.hbm.xml"/>
    <mapping resource="model/Recursos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
