<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SisgehoPU" transaction-type="JTA">
    <jta-data-source>java:app/uniajc</jta-data-source>
    <class>entity.Horario</class>
    <class>entity.Programa</class>
    <class>entity.Usuario</class>
    <class>entity.Facultad</class>
    <class>entity.Sede</class>
    <class>entity.Pensum</class>
    <class>entity.Docente</class>
    <class>entity.Grupos</class>
    <class>entity.Semestre</class>
    <class>entity.Recursos</class>
    <class>entity.Asignaturas</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
